html,
body {
  overflow-x: hidden;
  overflow-y: auto;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
body {
  background-color: #ffffff;
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  max-width: 100%;
}
* {
  padding: 0;
  margin: 0;
  border: none;
  color: inherit;
  list-style-type: none;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}
.padding-96-16 {
  padding: 96px 16px;
}
.dark-bg {
  color: #fff;
  background-color: #2e2f42;
}
.logo-span {
  color: #4d5ae5;
}
.address-info,
.card-text {
  color: #434455;
}
#portfolio .card-content,
p:not(#team p) {
  text-align: left;
}
.container {
  max-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}
.svg-wrap {
  position: relative;
}
.card-text {
  font-weight: 500;
}
address a {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}
svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  box-sizing: border-box;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
}
img {
  width: 100%;
  display: block;
}
.card-content {
  flex-direction: column;
  gap: 8px;
}
.flexible {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.svg-wrap:not(.S-media .svg-wrap) {
  width: 24px;
  height: 24px;
  position: relative;
}
.S-media {
  justify-content: space-between;
}
.S-media .svg-wrap {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 20px;
}
footer div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.foot-gap {
  gap: 16px;
}
.cards,
.section,
footer {
  gap: 72px;
  justify-content: center;
}
#portfolio .cards {
  gap: 48px;
}
#hero {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero_image.jpg");
  background-size: cover;
  background-position: center;
}
.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}
.m-size-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}
/******************************************************************************DEĞİŞKEN **********************************************************************/
.card-content:not(#approach .card-content) {
  padding: 32px 16px;
}
#hero {
  padding: 72px 52px;
}
button {
  padding: 16px 32px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  letter-spacing: 0.04em;
  border-radius: 4px;
}
footer button {
  display: flex;
  gap: 16px;
  padding: 8px 24px;
}
.is-openn,          /******************************************************************************DEĞİŞKEN **********************************************************************/
#modal, /******************************************************************************DEĞİŞKEN **********************************************************************/
#modal-backdrop {
  /******************************************************************************DEĞİŞKEN **********************************************************************/
  display: none; /******************************************************************************DEĞİŞKEN **********************************************************************/
} /******************************************************************************DEĞİŞKEN **********************************************************************/
.team-img {
  /******************************************************************************DEĞİŞKEN **********************************************************************/
  width: 264px;
}
.porfolio-img {
  /******************************************************************************DEĞİŞKEN **********************************************************************/
  width: 288px;
}
#approach .svg-wrap {
  display: none;
}
.inp {
  display: flex;
  width: 100%;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 8px 12px;
  cursor: text;
  transition: border-color 0.3s;
}

.inp:focus-within {
  border-color: #fff; /* aktif (tıklanınca) görünüm */
}

.inp input {
  flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
}

#foot-text {
  color: #f4f4f4;
}

.menu-isopen {
  position: absolute;
  background-color: #fff;
  display: flex;
  flex-direction: column;

  top: 0;
  left: 0;
  width: 320px;
  height: 100vh;
  padding: 24px 16px;
  z-index: 2;
}
.menu2-isopen {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.is-open {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 120px);
  justify-content: space-between;
}
.list-nav .flexible {
  gap: 40px;
}
.list-address .flexible {
  gap: 24px;
}

.close-icon {
  margin-left: auto;
  margin-bottom: 24px;
}
.menus {
  display: none;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* ekranın genişliği */
  height: 100vh; /* ekranın yüksekliği */
  background-color: rgba(0, 0, 0, 0.5); /* karartma efekti */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999; /* her şeyin üstünde */
}

.modal {
  position: absolute; /* artık absolute olmasına gerek yok */
  background-color: white;
  width: calc(100% - 32px);
  padding: 16px;
  z-index: 1000;
  left: 50%;
  top: 8px;
  font-size: 12px;
  line-height: 14px;
  transform: translateX(-50%);
  text-align: center;
}
.main-form {
  display: block;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal h3 {
  font-size: 16px;
  text-align: center;
}

.box-check:checked {
  background-color: #4d5ae5;
}

.box-check {
  cursor: pointer;
}
.box-check svg {
  position: relative;
  cursor: pointer;
  pointer-events: none;
}

.check a.modal-policy {
  color: #4d5ae5;
  text-decoration: underline;
}
.wrap-div {
  display: flex;
  padding: 7px;
  padding-left: 10px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 4px;
}
label:not(.box-checkaa) {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}
textarea {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid gray;
  border-radius: 4px;
}
.svg-wrap-box-check {
  width: 16px;
  height: 16px;
  position: relative;
  display: flex;
}
.svg-wrap-box-check svg {
  pointer-events: none;
}
.box-checkaa {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 8px;
  line-height: 16px;
}
.box-check {
  width: 16px;
  height: 16px;
  border: 1px solid gray;
  appearance: none;
}

input {
  flex: 1;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 16px 0;
}
.modal button {
  width: 159px;
  margin-top: 24px;
}
