* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  border: 0;
  color: inherit;
  list-style-type: none;
  font-style: normal; /*address e özel*/
}
body {
  background-color: #ffffff;
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  max-width: 100%;
}
.foot-text {
  letter-spacing: 0.02em;
}
#team {
  background-color: #f4f4f4;
}
#portfolio .card-content {
  border: 1px solid #e7e9fc;
}
#team .flex .card {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  background-color: #fff;
  border-radius: 0 2px;
}
#portfolio .flex .card {
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section:first-of-type {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero_image-1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
}
.cards {
  justify-content: center;
}
.dark-bg {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 72px;
  background-color: #2e2f42;
  justify-content: center;
  color: #fff;
}
.info-f {
  color: #f4f4f4;
}
.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.svg-wrap {
  position: relative; /* referans noktası */
  background: #f2f2f2;
}
#approach .svg-wrap {
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}
.menu,
#modal {
  display: none;
}
#modal.is-open {
  display: flex;
}
#menu.is-open {
  display: flex;
}
svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.S-media {
  width: 100%;
  justify-content: space-between;
}
.S-media .svg-wrap {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 20px;
}
.title-sm {
  font-weight: 500;
}
#approach .svg-wrap {
  display: none;
}
.title-md,
.title-bg {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}
.card-content {
  flex-direction: column;
  gap: 8px;
}
.card-content:not(.no-padding) {
  padding: 32px 16px;
}
#team .card-content {
  align-items: center;
}
.section-title {
  margin-bottom: 72px;
}
.section-title,
.special-title {
  text-align: center;
}
.svg-wrap {
  position: relative;
  width: 24px;
  height: 24px;
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
/******************************************************************MODAL MODAL MODAL MODAL***********************************************************************************/
.modal {
  position: absolute;
  flex-direction: column;
  gap: 24px;
  width: 288px;
  padding: 24px 16px;
  background-color: #fff;
  border-radius: 8px;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}
.inputs,
.policy {
  font-size: 12px;
  font-size: 12px;
  line-height: 1.292;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.span-pp {
  color: #4d5ae5;
  text-decoration: underline;
}
.logo-span {
  color: #4d5ae5;
}
.user-form .in-area:focus-within {
  outline: none;
}
.user-form .in-div {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-form .in-div:focus-within {
  border-color: #4d5ae5;
  fill: #4d5ae5;
}
.inputs.svg-wrap {
  width: 24px;
  height: 24px;
}
.modal .title-sm {
  text-align: center;
}
.in-div {
  display: flex;
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 7px 12px;
}
.in-area:not([type="checkbox"]) {
  width: 100%;
  display: block;
}
.checkbox {
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 2px;
  display: flex; /* Flex kutu aç */
  justify-content: center; /* yatay ortala */
  align-items: center;
}
.in-area[type="checkbox"] {
  appearance: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  cursor: pointer;
}

.in-area[type="checkbox"]:checked {
  background-color: #404bbf;
  border-radius: 2px;
  border: 1px solid #404bbf;
}
.t-area {
  width: 100%;
  height: 104px;
  resize: none;
  outline: none;
}
.user-form .flex {
  display: flex;
  gap: 4px;
}
.user-form .flex:not(.policy) {
  flex-direction: column;
}
.modal .in-area {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 16px 0;
}
.policy {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  vertical-align: center;
  align-items: center;
}
.text {
  color: #434455;
}
.menu .S-media .svg-wrap:hover {
  background-color: #404bbf;
}
/*******************************************************************************MENU MENU MENU MENU************************************************************/
.menu {
  position: absolute;
  display: none;
  flex-direction: column;
  width: 320px;
  height: 100vh;
  padding: 24px 16px 40px 16px;
  background-color: #fff;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 5;
}
nav .flex,
address .flex {
  display: flex;
  flex-direction: column;
}
nav .flex {
  gap: 40px;
}
address .flex {
  gap: 12px 24px;
}
.navmenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  margin-top: 24px;
  margin-bottom: 48px;
}
/***************************************************************************** MODAL MODAL MODAL***********************************************************/
/****************************************************************************************/
header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.icon-close {
  margin-left: auto;
  margin-right: 8px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-shrink: 0;
}
.btn {
  width: 169px;
  padding: 16px 32px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  border-radius: 4px;
  border: 0;
  align-self: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 9999;
}
.cards {
  gap: 72px 24px;
}
.team-img {
  width: 264px;
}
.portfolio-img {
  width: 288px;
}
img {
  display: block;
  max-width: 100%;
}
.section:not(:first-of-type),
footer {
  padding: 96px 16px;
}
.section:first-of-type {
  padding: 72px 56px;
}

footer div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-items: center;
}
.text,
.foot-text {
  text-align: left;
}
footer .S-media {
  justify-content: center;
  gap: 16px;
}
footer button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .svg-wrap {
  background-color: transparent;
}
footer input {
  padding: 8px 16px;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px 0px #00000026;
  border-radius: 4px;
  background-color: transparent;
}
footer .btn {
  padding: 8px 24px;
}
#portfolio li {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.S-media li {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.links {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn span {
  letter-spacing: 0.04em;
}
.icon-close:hover {
  background-color: #404bbf;
  fill: #fff;
}
.btn:hover {
  background-color: #404bbf;
}
#portfolio li:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
footer .S-media .svg-wrap:hover {
  background-color: #31d0aa;
}
#team .card:hover .S-media .svg-wrap {
  background-color: #404bbf;
}
.links:hover,
.links:active,
.links:focus {
  color: #404bbf;
}
nav .links {
  position: relative;
  display: inline-block; /* inline a’lar için çizgi çalışması için gerekli */
}
.imgg {
  width: 288px;
  height: 240px;
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #fff;
  display: flex;

  padding: 40px 32px 0;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Hover olduğunda yukarı gelsin */
#portfolio li:hover .overlay {
  transform: translateY(0);
}
@media screen and (min-width: 768px) {
  .imgg {
    width: 356px;
    height: 297px;
    position: relative;
    overflow: hidden;
  }
  nav .links::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* Hover ve focus durumunda çizgi görünür */
  nav .links:hover::after,
  nav .links:focus::after {
    transform: scaleX(1);
  }
  /* Aktif sayfa durumunda kalıcı çizgi /*/
  nav .links.active::after {
    transform: scaleX(1);
  }
  .modal {
    position: absolute;
    flex-direction: column;
    gap: 24px;
    width: 408px;
    padding: 24px 16px;
    background-color: #fff;
    border-radius: 8px;
    top: 96px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
  }
  .container {
    min-width: 768px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
  }
  .team-img {
    width: 264px;
  }
  .portfolio-img {
    width: 356px;
  }
  .section:first-of-type {
    padding: 112px 136px;
  }
  .title-bg:first-of-type {
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.02em;
  }
  .dark-bg:last-of-type {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 108px;
    text-align: left;
    width: 100%;
    gap: 72px 24px;
  }

  #approach .card {
    flex: 1 0 calc((100% - 32px - 24px) / 2);
  }
  .special-title {
    text-align: left;
  }
  .Sub-inp {
    max-width: 453px;
    width: 100%;
  }
  .inp-but-wrap {
    display: flex;
    flex-direction: row;
  }
  .inp-but-wrap input {
    flex: 1;
  }
  header .title-md {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  #team .cards {
    row-gap: 64px;
  }
  .menu {
    position: static; /* artık absolute değil */
    transform: none; /* translate etkisini kaldır */
    width: auto; /* header içindeki akışa göre genişlesin */
    height: auto; /* içeriğe göre boylansın */
    display: flex; /* flex akışına geri dön */
    flex-direction: row; /* yatay hizalama */
    justify-content: flex-end;
    background-color: transparent; /* arka planı kaldırmak istersen */
    padding: 0;
  }
  .navmenu {
    display: flex;
    flex-direction: row; /* yatayda iki grup */
    justify-content: space-between; /* biri sola, biri sağa yaslansın */
    align-items: center;
    height: auto;
    width: 550px;
    background-color: transparent;
    box-sizing: content-box;
    margin: 0;
  }
  header {
    padding: 0 16px;
    align-items: center;
    box-sizing: border-box;
  }
  /* Menü (Studio / Portfolio / Contacts) */
  .navmenu nav .flex {
    flex-direction: row;
    gap: 40px; /* linkler arası boşluk */
  }
  nav a {
    padding: 24px 0;
  }
  address li {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
  }
  /* Adres kısmı (info@ / telefon) */
  .navmenu address .flex {
    flex-direction: column; /* alt alta */
    flex-wrap: wrap; /* güvenli olsun */
    row-gap: 12px; /* dikey boşluk */
    align-items: flex-end; /* sağ tarafa yasla */
  }
  .menu .icon-close,
  .menu .S-media,
  .icon-group {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .imgg {
    width: 360px;
    height: 300px;
    position: relative;
    overflow: hidden;
  }
  .modal {
    position: absolute;
    flex-direction: column;
    gap: 24px;
    width: 408px;
    padding: 24px 16px;
    background-color: #fff;
    border-radius: 8px;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
  }
  .container {
    max-width: 1440px;
  }
  header {
    padding: 0 141px;
  }
  .text {
    font-weight: 400;
  }
  #approach .svg-wrap {
    width: 100%;
  }
  #approach .card {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .team-img {
    width: 264px;
  }
  .portfolio-img {
    width: 360px;
  }
  #approach .card {
    flex: 1;
  }
  .special-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .cards {
    gap: 48px 24px;
  }
  header .title-md {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  #team .cards {
    row-gap: 64px;
  }
  .navmenu {
    width: 910px;
  }
  #approach .svg-wrap {
    display: block;
  }
  address li {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /* Adres kısmı (info@ / telefon) */
  .navmenu address .flex {
    flex-direction: row; /* alt alta */
  }
  .section:not(:first-of-type) {
    padding: 120px 141px;
  }
  .section:first-of-type {
    padding: 188px 472px;
  }
  .dark-bg {
    gap: 48px;
  }
  .dark-bg:last-of-type {
    padding: 100px 193px;
    justify-content: space-between;
  }
}
@media (min-resolution: 2dppx) {
  .section:first-of-type {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero_image-1x.jpg");
  }
}
