/* Global Resets And Requirements */
body,
h1,
h2,
h3,
p,
a,
li,
ul,
button,
span {
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 0;
  margin: 0;
  border: none;
  color: inherit;
}
body {
  background-color: #ffffff;
  color: #434455;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1440px;
  margin: 0 auto;
}
header,
footer {
  padding: 0 141px;
  box-sizing: border-box;
}
nav,
address {
  display: inline-block;
}
address {
  float: right;
}
nav {
  padding-left: 102px;
}
header .ulist {
  gap: 40px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.167;
  color: #4d5ae5;
  letter-spacing: 0.03em;
}
h1 {
  font-size: 56px;
  line-height: 1.071428571428571;
  margin-bottom: 48px;
}
h2 {
  font-size: 36px;
  line-height: 1.111111111111111;
  margin-bottom: 72px;
}
.logo,
h1,
h2 {
  font-weight: 700;
}
.nav,
h3,
.desc {
  font-weight: 500;
}
.hspan,
.nav,
h2,
h3,
.desc {
  color: #2e2f42;
}
a:not(form a) {
  text-decoration: none;
  font-style: normal;
}
ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
.section .ulist {
  gap: 24px;
}
main .section {
  padding: 120px 141px;
}
.section#our-team {
  padding: 120px 141px;
  box-sizing: content-box;
  text-align: center;
  background-color: #f4f4fd;
}
#our-team .card-content {
  background-color: #ffffff;
}
h1,
h2 {
  text-align: center;
}
#our-portfolio ul {
  flex-wrap: wrap;
  row-gap: 48px;
}
.section:first-child,
footer {
  background-color: #2e2f42;
}
#our-approach li {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.section#head-view {
  position: relative;
  text-align: center;
  padding: 188px 0px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero_image.jpg");
  background-size: cover;
  color: #ffffff;
  padding: 188px 0;
} /*                                                                 */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* yarı saydam siyah */
  z-index: 1;
  display: none;
}
.modal {
  width: 408px;
  height: 584px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: none;
}
form {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 24px;
}
form button {
  flex: 0 0 auto;
  width: 169px;
  align-self: center;
}
label:last-child {
  display: flex;
  gap: 8px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.on {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
label {
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  text-align: left;
  line-height: 14px;
}
form a {
  color: #4d5ae5;
  line-height: 16px;
  letter-spacing: 0.04em;
}
form .input {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.form-vector {
  width: 24px;
  height: 24px;
  position: relative;
  border-radius: 20px;
  margin-left: auto;
}
.form-vector:hover {
  background-color: #404bbf;
  fill: #fff;
}
.input-wrap {
  position: relative;
}
.input-wrap svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  pointer-events: none;
}
.check-hack {
  display: inline-block;
  width: 453px;
  float: right;
}
.foot-sub {
  float: right;
}
.check-wrap {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.check-wrap,
#check1 {
  width: 16px;
  height: 16px;
}
.check input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

/* input */
.input-btn-wrap input[type="email"] {
  display: inline-block;
  vertical-align: middle; /* dikey ortalama */
  padding: 8px 10px;
  width: 264px;
  height: 40px;
  border: 1px solid #cfcfcf;
  border-radius: 6px;
  /* input ile button arası boşluk */
  font-size: 16px; /* font-size sıfırlamayı düzeltmek için */
}

/* label içindeki buton */
.foot-sub {
  display: inline-block;
  text-align: center;
}

/* buton */
.subscribe-btn {
  display: inline-block;
  width: 165px;
  padding: 8px 24px;
  height: 40px;
  background-color: #4d5ae5;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  font-size: 16px;
}

.subscribe-btn .btn-text,
.subscribe-btn .btn-icon {
  display: inline-block;
  vertical-align: middle;
}
.subscribe-btn .btn-text {
  float: left;
  width: 77px;
}
.subscribe-btn .btn-icon {
  position: absolute;
  width: 24px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  float: right;
}

/*button:active .modal-backdrop {
  display: block;
}
button:active .modal {
  display: block;
}*/
.check svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  /*display: none; /* default gizli */
}

.check input[type="checkbox"]:checked + svg {
  display: block; /* işaretlendiğinde göster */
}
input[type="checkbox"]:checked {
  background-color: #2a7ae4;
}

.input-wrap input {
  width: 100%;
  height: 40px;
  padding-left: 30px; /* ikon kadar boşluk */
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;
  font-size: 14px;
}

.input-wrap input:focus,
.input-wrap input:hover,
.input-wrap input:active {
  border-color: #2a7ae4;
}
.input-wrap:has(input:focus) svg,
.input-wrap:has(input:hover) svg,
.input-wrap:has(input:active) svg {
  fill: #2a7ae4;
}

.input textarea {
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;
  resize: none;
  font-size: 14px;
  padding: 15px;
}
*::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
}

/*                                                                 */
button {
  background-color: #4d5ae5;
  padding: 16px 32px;
  position: relative;
  border: none;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.04em;
}
#our-team .ulist > li {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
#our-portfolio .card-content {
  border: 1px solid #e7e9fc;
}
.social-media li {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 20px;
}
.rectangle {
  position: relative;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  height: 112px;
}
svg:not(.input svg) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
img {
  display: block;
}
.card-content {
  padding: 32px 16px;
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.imgg {
  width: 360px;
  height: 300px;
  position: relative;
  overflow: hidden;
}
/* Resim */
.imgg img {
  display: block;
  width: 100%;
  height: auto;
}

/* Hover metni (başta görünmez) */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #fff;
  display: flex;

  padding: 40px 32px 0;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Hover olduğunda yukarı gelsin */
#our-portfolio li:hover .overlay {
  transform: translateY(0);
}

footer h3,
.logo:not(header .logo) {
  display: inline-block;
  margin-bottom: 16px;
}
footer {
  position: relative;
  padding: 100px 141px;
}
footer h3 {
  color: #ffffff;
}
.foot-info {
  display: inline-block;
  width: 264px;
  color: #f4f4fd;
}
.fspan {
  color: #f4f4fd;
}
.foot-social {
  display: inline-block;
  position: absolute;
  left: 540px;
  width: 208px;
}

#our-portfolio li {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media li {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.links {
  position: relative;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service-button:hover {
  background-color: #404bbf;
}
#our-portfolio li:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.foot-social .social-media li:hover {
  background-color: #31d0aa;
}
#our-team .ulist li:hover .social-media li {
  background-color: #404bbf;
}
.links:hover,
.links:active,
.links:focus {
  color: #404bbf;
}
/* TASK3*/
nav .links::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Hover ve focus durumunda çizgi görünür */
nav .links:hover::after,
nav .links:focus::after {
  transform: scaleX(1);
}
/* Aktif sayfa durumunda kalıcı çizgi /*/
nav .links.active::after {
  transform: scaleX(1);
}
footer h3 {
  font-size: 16px;
}
.input-btn-wrap input {
  background-color: transparent;
}
.input-btn-wrap input::placeholder {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.04em;
}
